<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="masters.android.greystones">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="Greystones Portal" android:debuggable="true" android:theme="@android:style/Theme">
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".HomePage"  android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".WeatherForecast"/>
        <activity android:name=".TabbedForecasts"/>
        <activity android:name=".PromotionalVideo"/>
        <activity android:name=".Restaurants"/>
        <activity android:name=".InteractiveMap"/>
    </application>
</manifest>
